* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background: #0A3545;
    --card: #082C38;
    --error: #EB5757;
    --input: #224958;
    --primary: #2BD17F;
    --text: #fff;
}

body {
    background-color: var(--background);
    color: var(--text);
}