:root {
    --background: #093545;
    --card: #092C39;
    --error: #EB5757;
    --input: #224957;
    --primary: #2BD17E;
    --text: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    min-height: 100vh;
}

.App,
.MyMovies {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    margin: 40px 0;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

/*
Sign In Form
*/

.SignIn input {
    background-color: var(--input);
    border: none;
    border-radius: 10px;
    color: var(--text);
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;
    padding: 10px 14px;
    width: 100%;
}

.SignIn input::placeholder {
    opacity: 1 !important;
}

.SignIn input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    display: inline-block;
    margin: 10px 0;
    width: auto;
}

.SignIn label {
    padding: 5px;
}

button {
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    color: var(--text);
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
    padding: 15px 126px;
}

.button {
    text-decoration: none;

    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    color: var(--text);
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
    padding: 15px 126px;
}

.MyMovies button {
    margin: 30px 0;
    padding: 16px 28px;
}


/*
Error
*/

.LoginError {
    color: var(--error);
    font-size: 48px;
}
