* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background: #0A3545;
    --card: #082C38;
    --error: #EB5757;
    --input: #224958;
    --primary: #2BD17F;
    --text: #fff;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 100vh;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
}

.App {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.SignIn form {
    display: flex;
    flex-direction: column;
}

.SignIn input {
    background-color: var(--input);
    border: none;
    border-radius: 10px;
    color: var(--text);
    margin: 10px 0;
    padding: 12px;
}

.SignIn input::placeholder {
    opacity: 1;
}

.SignIn .button-login {
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    padding: 20px 140px;
    width: auto;
}